<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5>Departamentos</h5>
            
            <p>
                <a class="btn-floating btn-large waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </p>
            
            <p>
                <input type="checkbox" id="inativos" [(ngModel)]="consultaInativos"/>
                <label for="inativos">Exibir itens inativos</label>
            </p>
            
            <div class="collection">
                <a class="collection-item" 
                        *ngFor="let departamento of departamentos"
                        routerLinkActive="active"
                        [routerLink]="['/departamentos', departamento.id]"
                        [style.color]="!departamento.ativo ? 'purple' : ''">
                    {{ departamento.descricao }}
                </a>
            </div>
            
        </div>
    </div>
    
</div>

