<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
    <div class="card col l6 s12 left">
      <a class="btn-floating waves-effect waves-light red right"
        routerLink="novo">
        <i class="material-icons">add</i>
      </a>
      <a class="btn-floating waves-effect waves-light red right"
          (click)="getDepartamentos()">
        <i class="material-icons">refresh</i>
      </a>
      <span class="card-title">Departamentos</span>
      <p>
        <input type="checkbox" id="inativos" [(ngModel)]="consultaInativos"/>
        <label for="inativos">Exibir itens inativos</label>
      </p>

      <div class="collection">
          <a class="collection-item"
              *ngFor="let departamento of departamentos"
              routerLinkActive="active"
              [routerLink]="['/departamentos', departamento.id]"
              [style.color]="!departamento.ativo ? 'purple' : ''">
            {{ departamento.descricao }}
          </a>
      </div>
    </div>
  </div>
</div>

