<div class="fundo">
  <br><br><br>
  <div class="row">
    <div class="card col s12 l4 offset-l4">
      <span class="card-title">Tela de login</span>
      <div class="row">
        <div class="input-field">
          <input type="text" id="usuario" class="validate" [(ngModel)]="usuario.username"/>
          <label for="usuario">Usuário</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input type="password" id="senha" class="validate"
              [(ngModel)]="usuario.senha" (keyup.enter)="fazerLogin()"/>
          <label for="senha">Senha</label>
        </div>
      </div>

      <div class="card-action">
        <button class="btn waves-effect waves-light" (click)="fazerLogin()">
          Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>


