<ul id="dropdownCadastro" class="dropdown-content">
  <app-dropdown-cadastro></app-dropdown-cadastro>
</ul>

<ul id="dropdownEstoque" class="dropdown-content">
    <app-dropdown-estoque></app-dropdown-estoque>
</ul>

<ul id="dropdownUser" class="dropdown-content">
    <app-dropdown-usuario></app-dropdown-usuario>
</ul>

<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">CARTUCHOS</a>
    <a materialize="sideNav" href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownCadastro">
          <i class="material-icons left">view_list</i>
          Cadastro
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownEstoque">
          <i class="material-icons left">inbox</i>
          Estoque
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a routerLink="/registros">
          <i class="material-icons left">import_contacts</i>
          Registros
        </a>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownUser">
          <i class="material-icons left">person</i>
          Usuário
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Cadastro<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <app-dropdown-cadastro></app-dropdown-cadastro>
              </ul>
            </div>
          </li>
        </ul>

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Estoque<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <app-dropdown-estoque></app-dropdown-estoque>
              </ul>
            </div>
          </li>
        </ul>

        <li><a routerLink="/registros">Registros<i class="material-icons right">chevron_right</i></a></li>

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Usuário<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <app-dropdown-usuario></app-dropdown-usuario>
              </ul>
            </div>
          </li>
        </ul>

    </ul>
  </div>
</nav>
