
<form [formGroup]="formulario">
  <h5>Entrada no Estoque</h5>

  <div class="input-field col s12">
    <select materialize="material_select"
        [materializeSelectOptions]="cartuchos"
        formControlName="cartucho"
        [(ngModel)]="registro.cartucho.id">
      <option disabled selected>Selecione</option>
      <option *ngFor="let cartucho of cartuchos" [value]="cartucho.id">
        {{ cartucho.descricao }}
      </option>
    </select>
    <label>Cartucho</label>
  </div>

  <div class="input-field">
    <div class="form-group">
      <label class="control-label" for="quantidade">Quantidade</label>
      <span class="help-block"></span>
      <input type="number" class="form-control" [(ngModel)]="registro.quantidade"
          name="quantidade" min="1" formControlName="quantidade">
    </div>
  </div>

  <button class="btn" (click)="onSubmit()">Submit</button>
</form>
