<ul id="dropdownCadastro" class="dropdown-content">
  <li><a href="#!">Cartucho</a></li>
  <li><a href="#!">Departamento</a></li>
</ul>

<ul id="dropdownEstoque" class="dropdown-content">
    <li><a href="#!">Entrada</a></li>
    <li><a href="#!">Saída</a></li>
</ul>

<ul id="dropdownUser" class="dropdown-content">
    <li><a href="#!">Alterar senha</a></li>
    <li><a href="#!">Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">CARTUCHOS</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownCadastro">
          <i class="material-icons left">view_list</i>
          Cadastro
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownEstoque">
          <i class="material-icons left">inbox</i>
          Estoque
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons left">import_contacts</i>
          Registro
        </a>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdownUser">
          <i class="material-icons left">person</i>
          Usuário
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Estoque</a></li>
        <li><a href="#">Registros</a></li>
        <li><a href="#">Usuário</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
