<div class="card col l6 s12 right">
  <div class="card-content">
    <span class="card-title">Formulário de departamento</span>

    <form [formGroup]="formulario">
      <div class="input-field">
        <input type="text" class="validate" [(ngModel)]="departamento.descricao"
            formControlName="descricao" maxlength="20" minlength="2" required>
        <label for="descricao" [class.active]="departamento.descricao != ''">Descrição</label>
      </div>
      <p>
        <input type="checkbox" formControlName="ativo"
            [(ngModel)]="departamento.ativo"/>
        <label for="ativo" >Ativo</label>
      </p>
    </form>

  </div>
  <div class="card-action">
    <a class="btn-floating btn-large waves-effect waves-light red"
        routerLink="/departamentos">
      <i class="material-icons">cancel</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light red right"
        (click)="onSubmit()" [class.disabled]="formulario.invalid">
      <i class="material-icons">save</i>
    </a>
  </div>
</div>
