<h4>Registros</h4>

<div class="row">
  <div class="input-field col s4">
    <input type="text" name="dataInicio" [(ngModel)]="dataInicio"
        materialize="pickadate"
        [materializeParams]="[{format: 'dd-mm-yyyy'}]">
    <label for="dataInicio">Data início</label>
  </div>
  <div class="input-field col s4">
    <input type="text" name="dataFim" [(ngModel)]="dataFim"
        materialize="pickadate"
        [materializeParams]="[{format: 'dd-mm-yyyy'}]">
    <label for="dataInicio">Data fim</label>
  </div>
  <div class="col s4">
    <button class="waves-effect waves-light btn" (click)="pesquisar()">
      <i class="material-icons left">search</i>Pesquisar
    </button>
  </div>
</div>

<app-pagination
    [page]="page"
    [total]="total"
    [totalPages]="totalPages"
    (mudouPagina)="mudouPagina($event)">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Usuário</th>
        <th>Cartucho</th>
        <th>Departamento</th>
        <th>Operação</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros">
        <td>{{ registro.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ registro.usuario.username }}</td>
        <td>{{ registro.cartucho.descricao }}</td>
        <td>{{ registro.departamento.descricao }}</td>
        <td>{{ registro.operacao }}</td>
        <td>{{ registro.quantidade }}</td>
      </tr>
    </tbody>
  </table>
</app-pagination>
